<ion-app>
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span>{{this.getCurrentPage()}}</span>

    <span class="spacer"></span>
    <div *ngIf="isLoggedIn() === false;">
      <button mat-button class="ion-align" routerLink="/login">Connexion</button>

      <button mat-button class="ion-align" routerLink="/register">S'enregistrer</button>

    </div>
    <div *ngIf="isLoggedIn() === true">
      <button mat-button  class="ion-align" routerLink="/profile" >Profile</button>

      <button mat-button class="ion-align" (click)="logout()">Déconnexion</button>

    </div>


  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav">

      <img
        src="./assets/Logo_TTM.jpg"
        routerLink="/"
       alt="TTM Logo"/>
      <mat-divider></mat-divider>

      <!-- Sizes -->
      <div class="menu-button-div">
        <ion-button expand="full" size="large" fill="solid" routerLink="/a-propos" class="ion-text-left">A Propos</ion-button>
      </div>

      <ion-button expand="full" size="large" fill="solid" routerLink="/urbanisme">Urbanisme</ion-button>

      <ion-button expand="full" size="large" fill="solid" routerLink="/architecture">Architecture</ion-button>

      <ion-button expand="full" size="large" fill="solid" routerLink="/production">Production</ion-button>

      <ion-button expand="full" size="large" fill="solid" routerLink="/hommes">Hommes</ion-button>

      <ion-button expand="full" size="large" fill="solid" routerLink="/temoignage">Mon témoignage</ion-button>
    </mat-sidenav>

    <mat-sidenav-content>
      <ion-router-outlet></ion-router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ion-app>
