<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="identity">
    <p>
      <mat-form-field>
        <mat-label>Nom :</mat-label>
        <input matInput id="name" formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prénom :</mat-label>
        <input matInput id="last_name" formControlName="lastName" type="text">
      </mat-form-field>
    </p>
  </div>

  <div class="credentials">
    <div class="email">
      <mat-form-field>
        <mat-label>Email :</mat-label>
        <input matInput id="email" formControlName="email" type="email">
      </mat-form-field>
    </div>

    <div class="phone">
      <mat-form-field>
        <mat-label>Téléphone :</mat-label>
        <input matInput id="phone" formControlName="phone" type="tel">
      </mat-form-field>
    </div>
  </div>

  <div class="subject">
    <mat-form-field>
      <mat-label>Sujet :</mat-label>
      <input matInput id="subject" formControlName="subject" type="text">
    </mat-form-field>
  </div>

  <div class="message">
    <textarea matInput id="message" placeholder="Veuillez insérer un message" formControlName="message"></textarea>
  </div>

  <button mat-raised-button [disabled]="contactForm.invalid" id="contact-send">Envoyer</button>

</form>
