<ion-content>
 <ion-segment class = upper-bar [(ngModel)]="selectedTab">
   <ion-segment-button id ="button-project" value="Projet">Projet</ion-segment-button>
   <ion-segment-button id ="button-team" value="Equipe">L'équipe</ion-segment-button>
   <ion-segment-button  id ="button-contact" value="Contact">Contact</ion-segment-button>
 </ion-segment>

   <div class = 'project' *ngIf="selectedTab === 'Projet'">
     <div class="main-project">
       <h1 id="top">Mots-clés</h1>
       <p>Patrimoine industriel et technique ;
         interdisciplinarité ; territoire ;
         renouvellement des approches historiques ;
         humanités numériques ;
         archéologie industrielle avancée</p>


       <h1>Objectifs</h1>
       <p>- Reconstitution historique spatio-temporelle en 3D d’un ancien quartier industriel du Nord Franche-Comté.<br>
         - Promouvoir la culture scientifique, technique et industrielle à travers les humanités numériques.<br>
         - Articuler enseignement et recherche autour d’un projet structurant.<br>
         - Valoriser le patrimoine industriel et technique, matériel et immatériel, comme source de développement territorial.</p>

       <h1>Résumé</h1>
       <p>Techn'hom Time Machine envisage le développement de nouvelles formes de recherche et d’apprentissage entre les sciences historiques
         (histoire, patrimoine, géomatique) et les sciences de l’ingénierie (génie mécanique, ergonomie, informatique, graphisme).
         Il s'agit d'expérimenter de nouvelles façons de produire la connaissance autour d’un objet historique grâce au croisement des compétences
         et au recours aux humanités numériques. L'objet vise la reconstitution numérique en 3D d’un vaste ensemble industriel implanté à Belfort en 1879,
         aujourd’hui connu sous le nom de Techn’hom. Il s'agit de proposer une histoire totale du quartier, retraçant les évolutions urbanistique, architecturale,
         technique, démographique ou encore sociale à partir de l’exploitation des archives, d’enquêtes de terrain, de témoignages oraux et du recours aux
         technologies informatiques. A court terme, le produit sera présenté sur une dalle numérique valorisant le mariage heureux entre histoire et ingénierie,
         technologie et patrimoine, et favorisant le lien social.</p>


       <h1>Positionnement géographique et scientifique</h1>
       <p>Le terrain d’élection du projet se compose de deux anciens sites industriels
         (Filature Dollfus, Mieg et Cie -DMC-  et Société alsacienne de constructions mécaniques dite SACM, devenue Alsthom en 1928)
         ayant fusionné au début des années 2000 pour former Techn’hom. A ce parc d’activité économique urbain de plus de 100 hectares,
         s’ajoutent des cités ouvrières et autres infrastructures sociales polycentriques contribuant au développement urbanistique de la ville de Belfort.
         Le domaine d’étude est celui de l’archéologie industrielle avancée (Laroche, 2007) consistant, à partir du présent,
         à remonter dans le passé via un croisement des sources d’archives, de l’enquête orale et des observations de terrain, et ce grâce à des outils numériques.
         A travers ce projet de reconstitution historique spatio-temporelle en 3D,
         l’un des résultats attendus est de concevoir une méthodologie structurée et reproductible dédiée à la valorisation scientifique d’objets patrimoniaux
         ainsi qu’à leur médiation culturelle, dans une perspective de dynamisation territoriale.
       </p>


     </div>

     <div class="add-project">
       <img src="../../../assets/a7f628c3-3d5a-4d67-8433-0c8e426bc12c copie.jpg"   alt="Photo de la manifacture"/>


       <h1>Responsable</h1>
       <p>Marina Gasnier, professeur des universités UTBM,
         FEMTO-ST/RECITS (UMR 6174)
       </p>

       <h1>Partenaires</h1>
       <p>FEMTO-ST/RECITS – UTBM/UBFC (sciences humaines et sociales)
         MSHE Ledoux (géomatique)
         CIAD – UTBM/UBFC (intelligence artificielle)
         LE2I – UTBM/UBFC (ingénierie des connaissances)
         ELLIAD-ERCOS – UTBM/UBFC (ergonomie, graphisme)
         ICB-PMDM-LERMPS – UTBM/UBFC (génie mécanique)
         Pb2i Belfort (Bull informatique)
       </p>


       <h1>Financements</h1>
       <p>AAP Région – Equipements pédagogiques et numériques, 2019
         Crunch-Lab – UTBM, 2019
         MSHE Ledoux – ORTEP, 2019
         AAP CEVU UTBM – innovation pédagogique, 2020
         ANR « Lab in Virtuo » en collaboration avec l’Université de Bretagne Occidentale et le Centre Francois Viète, à Brest ;
         l’Ecole nationale des Ingénieurs de Brest, le LabSTICC et le Centre européen de Réalité Virtuelle ;
         le CREDA (UMR 7227) à l’Institut des Hautes Etudes de l’Amérique Latine, Université Sorbonne Nouvelle Paris 3 ;
         enfin l’Ecole Centrale, à Nantes, 2021</p>

     </div>
   </div>

  <div class = 'team' *ngIf="selectedTab === 'Equipe'">
    <h1>Responsable</h1>
    <div class="reseacher">
      <div id="Marina-Gasnier">
        <img class="img-team" src="../../../assets/avatar.jpeg" alt="Image Femme"/>
        <p>Marina Gasnier, professeur en histoire des techniques et épistémologie du patrimoine industriel,<br>
          FEMTO-ST/RECITS (UMR 6174) - UTBM/UBFC</p>
      </div>
    </div>

    <h1>Chercheurs</h1>
    <div class="reseacher">
      <div id="Laurent-Heyberger">
        <img class="img-team" src="../../../assets/male_avatar.jpeg" alt="Image Homme"/>
        <p>Laurent Heyberger, maître de conférences HDR en histoire contemporaine,<br>
          FEMTO-ST/RECITS (UMR 6174) - UTBM/UBFC</p>
      </div>
      <div id="Nicolas-Simoncini">
        <img class="img-team" src="../../../assets/male_avatar.jpeg" alt="Image Homme"/>
        <p>Nicolas Simoncini, maître de conférences en histoire et sociologie des techniques,<br>
          FEMTO-ST/RECITS (UMR 6174) - UTBM/UBFC</p>
      </div>
      <div id="Franck-Gechter">
        <img class="img-team" src="../../../assets/male_avatar.jpeg" alt="Image Homme"/>
        <p>Franck Gechter, maître de conférences HDR en informatique,<br>
          CIAD - UTBM/UBFC</p>
      </div>
    </div>

    <h1>Etudiants</h1>
    <div class="reseacher">
      <div id="Gabriel-Garcia">
        <img class="img-team" src="../../../assets/male_avatar.jpeg" alt="Image Homme"/>
        <p>Gabriel Garcia, étudiant en informatique (concepteur de la base de données)
        </p>
      </div>
    </div>

    <h1>Nos partenaires</h1>
    <div class="Partnership">
      <div id="femto-st">
        <img class="img-team" src="../../../assets/RECITS_quadri_nouvellebaseline.jpg" alt="Logo Recits"/>
        <p>FEMTO-ST/RECITS - UTBM/UBFC (sciences humaines et sociales)</p>
      </div>

      <div id="MSHE">
        <img class="img-team" src="../../../assets/MSHE.jpg" alt="Logo MSHE"/>
        <p>MSHE Ledoux (géomatique</p>
      </div>

      <div id="CIAD">
        <img class="img-team" src="../../../assets/CIAD.png" alt="Logo CIAS"/>
        <p>CIAD - UTBM/UBFC <br>
          (intelligence artificielle)</p>
      </div>

      <div id="LE2I">
        <img class="img-team" src="../../../assets/le2i.jpg" alt="Logo Le2i"/>
        <p>LE2I - UTBM/UBFC (ingénierie des connaissances)</p>
      </div>
    </div>
  </div>

   <div class = 'contact' *ngIf="selectedTab === 'Contact'">
     <app-contact-form></app-contact-form>
   </div>

</ion-content>
